/*
 * Web Starter Kit
 *
 * Multi-screen layout styles for your page. Brought to you by the
 * Web Starter Kit team.
 *
 */
@import '_h5bp';

/*
 * Visual Style Guide styles
 * Remove if you prefer to use a CSS library, like Bootstrap
 */
@import 'components/_bootstrap.scss';

$font-face: 'Lato', sans-serif;;
$color: #C0171C;

.charged-contain {
  position: absolute;
}
.base,
p,
ul,
ol {
  font-size: 19px;
}

a {
    color: $color !important;
}

a:visited{
        color: $color !important;
    }

  a:hover{
        color: $color !important;
        text-decoration: none;
        border-bottom: 1px dashed $color;
    }

h1 {
    font-weight:700;
    font-size: 3.0em;
    font-family: $font-face;
}

h2 {
    font-weight:700;
    font-size: 1.5em;
    font-family: $font-face;
}

.title {
    margin-top: 5px;
}

.words {
    margin-top: 35px;
    padding: 15px;
   /* background-color: #D9D9D9;*/
}

.container {
   /* background-color: #F0F0F0;*/
    padding-top: 20px;
    padding-bottom: 20px;
}

.center {
    text-align: center;
}

.copy {
    font-weight:400;
    margin-top: 40px;
    line-height: 35px;
}

footer {
 bottom: 20px;
    position: absolute;
    width: 100%;
}
.bg {
    background-color:transparent;
}

.links {
    font-size: 1.4em;
    font-weight: 700;

    a {
        color: $color;
    }
}


.tagline {
    font-size: 0.9em;
}

#sky {
  width: 100%;
  height: 100%;
  position: absolute;
}
.line {
    border-bottom: 2px solid $color;
}

.inputs {
    margin-top: 45px;
}

.greenbutton {
    height: 50px;
    width: 100%;
    border: 0px;
    background-color: $color;
    color: white;
    font-weight: 400;
    font-size: 1.6em;
}

.archive {
  color: $color;
  text-align:center;
  font-weight: 700;
}

.wide {
  width: 100%;
  text-align: center;
}
.muted {
    color: #ABB8B5;
    font-size: 1em;
    padding-top: 25px;
}

.testimonial {
    font-size: 1.2em !important;
    font-family: 'Merriweather', serif;
}

.form-control::-webkit-input-placeholder { color: $color; }
.form-control:-moz-placeholder { color: $color; }
.form-control::-moz-placeholder { color: $color; }
.form-control:-ms-input-placeholder { color: $color; }

.greenbutton:focus {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
    border: 0px;
    outline: 0;
}

.form-control {
    color: $color;
    border-radius: 0px;
    border-color: white;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
    height: 50px;
    margin-bottom: 15px;
    font-weight: 400;
}

.form-control:focus {
  border-color: $color;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0), 0 0 8px rgba(255, 0, 0, 0);
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $font-face;
}

body {
  position: relative;
  font-family: $font-face;
  font-weight: 300;
  background-color: #fff;
  box-sizing: border-box;
  min-height: 100%;
  color: white;
}

body.open {
  overflow: hidden;
}

.app-bar {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #4285f4;
  overflow: hidden;
  z-index: 1;
}

.app-bar-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60px;
  position: relative;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
}

.app-bar.open,
.app-bar.open ~ main {
  -webkit-transform: translate(250px, 0);
          transform: translate(250px, 0);
}

.app-bar .logo {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 2em;
  line-height: 60px;
  margin: 0 16px;
  padding: 0;
  color: #fefefe;
  float: none;
  max-width: none;
  font-weight: 300;
  display: initial;
}

.app-bar .logo a {
  text-decoration: none;
  color: inherit;
  font-weight: normal;
}

.app-bar-actions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 2;
}

.app-bar button {
  width: 60px;
  height: 60px;
  background-image: none;
  background-color: transparent;
  border: none;
  padding: 0;
  display: inline-block;
  -webkit-transition: background-color 0.2s ease-out;
          transition: background-color 0.2s ease-out;
  -webkit-tap-highlight-color: transparent;
}

.app-bar button img {
  height: 24px;
  width: 24px;
}

.app-bar button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.app-bar button:focus {
  background-color: rgba(255, 255, 255, 0.2);
  outline: 0;
}

.app-bar button:active {
  background-color: rgba(255, 255, 255, 0.4);
}

.promote-layer {
  /*
  This may promote the layer to a composited
  layer.

  Replace with will-change when available

  #perfmatters
  */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}



.navdrawer-container {
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 250px;
  height: 100%;
  background-color: #3367D6;
  color: #fefefe;
  -webkit-transform: translate(-250px, 0);
          transform: translate(-250px, 0);
  overflow-y: auto;
}

.navdrawer-container.open {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.app-bar,
.navdrawer-container.opened,
main {
  -webkit-transition: -webkit-transform 0.3s ease-out;
          transition: transform 0.3s ease-out;
}

.navdrawer-container h4,
.navdrawer-container ul li a {
  height: 60px;
  padding: 17px 20px;
  line-height: 1.4;
}

.navdrawer-container h4 {
  background-color: white;
  color: #3367D6;
}

.navdrawer-container ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navdrawer-container ul li a {
  display: block;
  text-decoration: none;
  color: white;
  -webkit-transition: background-color 0.2s ease-out;
          transition: background-color 0.2s ease-out;
  white-space: nowrap;
}

.navdrawer-container ul li {
  border-bottom-style: solid;
  border-width: 1px;
  border-color: white;
  padding: 0;
}

.navdrawer-container ul li::before {
  content: none;
}

.navdrawer-container ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.navdrawer-container ul li a:focus {
  background-color: rgba(255, 255, 255, 0.3);
  outline: 0;
}

.navdrawer-container ul li a:active {
  background-color: rgba(255, 255, 255, 0.4);
}

main {
  margin: 0 auto;
  /* Height of the header */
  padding: 60px 16px 16px 16px;
  min-height: 100%;
}

/** Larger Screens - desktops and tablets **/
@media all and (min-width: 990px) {
  .app-bar {
    position: relative;
  }

  .app-bar.open,
  .app-bar.open ~ main {
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }

  .app-bar-container {
    display: block;
    height: 130px;
    max-width: 864px;
    padding: 0 16px;
    box-sizing: border-box;
    background-color: #4285f4;
  }

  .app-bar .logo {
    float: left;
    margin: 0;
    padding: 0;
    line-height: 130px;
    font-size: 46px;
  }

  .app-bar-actions {
    float: right;
  }

  .app-bar::after {
    content: ' ';
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }

  button.menu {
    display: none;
  }

  .navdrawer-container {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transition: none;
            transition: none;
    overflow-y: auto;
  }

  .navdrawer-container h4 {
    display: none;
  }

  .navdrawer-container ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 864px;
    margin: 0 auto;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .navdrawer-container ul li {
    border: none;
  }

  main {
    max-width: 864px;
    padding-top: 0;
    min-height: initial;
  }

  body {
    overflow-y: scroll;
  }
}

@media all and (max-width: 990px) {
 .vertical-center {
       position: relative;
  top: 0%;
  transform: translateY(0%);
 }

    body, p {
        font-size: 16px;
    }

    h1 {
     font-size: 28px;
         letter-spacing: 2px;
    }

    body, html {
        height: auto;
    }

    .bg {
        height: auto;
    }
}

@media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px) and (orientation : portrait){
   #sky {
      display: none;
   }

      body, p {
        color: black !important;
    }

    .form-control {
      border-color: $color;
    }

    .form {
          padding-right: 0px;
          padding-left: 0px;
          padding-bottom: 20px;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  #sky {
      display: none;
   }

    .form {
          padding-right: 0px;
          padding-left: 0px;
          padding-bottom: 20px;
    }

   body, p {
        color: black !important;
    }

    .form-control {
      border-color: $color;
    }
}